# Niveau de sévérité à partir duquel les messages de log s'affichent
# Valeurs utiles : INFO, WARNING ou SEVERE
LogLevel=INFO

# Taille de la fenêtre
WindowWidth=2000
WindowHeight=1200

#A supprimer
DefaultWaffleLines=5
DefaultWaffleColumns=6