# Niveau de sévérité à partir duquel les messages de log s'affichent
# Valeurs utiles : INFO, WARNING ou SEVERE
LogLevel=INFO

# Taille de la fenêtre
WindowWidth=1500
WindowHeight=800

# Profondeur max de la recherche minimax pour l'IA
DepthAI = 3